<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">

<head>
    <th:block layout:fragment="link">
        <!-- DataTables -->
        <link rel="stylesheet" href="/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    </th:block>
</head>

<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">

    <div class="content-wrapper" layout:fragment="content">

        <section class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1>List of Brands</h1>
                    </div>
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Layout</a></li>
                            <li class="breadcrumb-item active">Fixed Layout</li>
                        </ol>
                    </div>
                </div>
            </div>
        </section>

        <section class="content">

            <div class="container-fluid">
                <div class="row">
                    <div class="col-12">
                        <!-- Default box -->
                        <div class="card">
                            <div class="card-header">
                                <div class="col-sm-2 col-md-1">
                                    <button type="button" class="btn btn-block btn-success btn-sm"
                                            data-toggle="modal" data-target="#modal-default">Add</button>
                                </div>
                            </div>

                            <!-- /.card-header -->
                            <div class="card-body">
                                <table id="example1" class="table table-bordered table-striped" th:switch="${brands}">
                                    <thead>
                                    <tr>
                                        <th>Name</th>
                                        <th>Strength</th>
                                        <th>DosageForm</th>
                                        <th>Generic</th>
                                        <th>Manufacturer</th>
                                        <th>Purchase Price</th>
                                        <th>Sale Price</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="brand : ${brands}">
                                        <td th:text="${brand.name}"></td>
                                        <td th:text="${brand.strength}"></td>
                                        <td th:text="${brand.dosageForm.name}"></td>
                                        <td th:text="${brand.generic.name}"></td>
                                        <td th:text="${brand.manufacturer.name}"></td>
                                        <td th:text="${brand.purchasePrice}"></td>
                                        <td th:text="${brand.salePrice}"></td>
                                        <td>
                                            <div class="btn-group">
                                                <input type="hidden" id="brandId" th:value="${brand.id}">
                                                <button type="button" id="btnView"
                                                        class="btn btn-block btn-info btn-sm"
                                                        style="margin-top: 8px;border-radius: 3px 0 0 3px;"
                                                ><i class="fas fa-eye"></i>
                                                </button>
                                                <button type="button" id="btnEdit"
                                                        class="btn btn-block btn-primary btn-sm"
                                                        style="margin-top: 8px"
                                                ><i class="fas fa-edit"></i>
                                                </button>
                                                <button type="button" id="btnDelete"
                                                        class="btn btn-block btn-danger btn-sm"
                                                ><i class="fas fa-trash"></i>
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                    <tfoot>
                                    <tr>
                                        <th>Name</th>
                                        <th>Strength</th>
                                        <th>DosageForm</th>
                                        <th>Generic</th>
                                        <th>Manufacturer</th>
                                        <th>Purchase Price</th>
                                        <th>Sale Price</th>
                                        <th>Action</th>
                                    </tr>
                                    </tfoot>
                                </table>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->
                    </div>
                </div>
            </div>

            <div class="modal fade" id="modal-default">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Add Brand</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <form id="quickForm">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="inputname">Name</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputname" name="name"
                                               placeholder="Enter Brand">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="inputstrength">Strength</label>
                                    <div class="col-sm-9">
                                        <input type="text" class="form-control" id="inputstrength" name="strength"
                                               placeholder="Enter Strength">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="inputdosageform">Dosage Form</label>
                                    <div class="col-sm-9">
                                        <select class="form-control select2" id="inputdosageform" name="dosageform" style="width: 100%;">
                                            <option value="" disabled selected>Select Dosage Form</option>
                                            <option th:each="dosageform : ${dosageforms}" th:value="${dosageform.id}" th:text="${dosageform.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="inputgeneric">Generic</label>
                                    <div class="col-sm-9">
                                        <select class="form-control select2" id="inputgeneric" name="generic" style="width: 100%;">
                                            <option value="" disabled selected>Select Generic</option>
                                            <option th:each="generic : ${generics}" th:value="${generic.id}" th:text="${generic.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="inputmanufacturer">Manufacturer</label>
                                    <div class="col-sm-9">
                                        <select class="form-control select2" id="inputmanufacturer" name="manufacturer" style="width: 100%;">
                                            <option value="" disabled selected>Select Manufacturer</option>
                                            <option th:each="manufacturer : ${manufacturers}" th:value="${manufacturer.id}" th:text="${manufacturer.name}"></option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="inputpurchaseprice">Purchase Price</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="inputpurchaseprice" name="purchaseprice"
                                               placeholder="Enter Purchase Price">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label" for="inputsaleeprice">Sale Price</label>
                                    <div class="col-sm-9">
                                        <input type="number" class="form-control" id="inputsaleeprice" name="saleeprice"
                                               placeholder="Enter Sale Price">
                                    </div>
                                </div>

                                <div class="modal-footer justify-content-between">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Control Sidebar -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
    </aside>
    <!-- /.control-sidebar -->
</div>
<!-- ./wrapper -->
<th:block layout:fragment="script">
    <!-- jquery-validation -->
    <script src="/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="/plugins/jszip/jszip.min.js"></script>
    <script src="/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <script>
        $(function () {

            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');

            $.validator.setDefaults({
                submitHandler: function () {
                    alert("Form successful submitted!");
                }
            });

            $('#quickForm').validate({
                rules: {
                    name: {
                        required: true
                    },
                    strength: {
                        required: true
                    },
                    dosageform : {
                        required: true
                    },
                    generic : {
                        required: true
                    },
                    manufacturer : {
                        required: true
                    },
                    purchaseprice : {
                        required: true
                    },
                    saleprice : {
                        required: true
                    }
                },
                messages: {
                    name: {
                        required: "Please enter name"
                    },
                    strength: {
                        required: "Please enter strength"
                    },
                    dosageform : {
                        required: "Please select dosage form"
                    },
                    generic : {
                        required: "Please select generic"
                    },
                    manufacturer : {
                        required: "Please select manufacturer"
                    },
                    purchaseprice : {
                        required: "Please enter purchase price"
                    },
                    saleprice : {
                        required: "Please enter sale price"
                    }
                },
                errorElement: 'span',
                errorPlacement: function (error, element) {
                    error.addClass('invalid-feedback');
                    element.closest('.form-group').append(error);
                },
                highlight: function (element, errorClass, validClass) {
                    $(element).addClass('is-invalid');
                },
                unhighlight: function (element, errorClass, validClass) {
                    $(element).removeClass('is-invalid');
                }
            });
        });
    </script>
</th:block>
</body>

</html>