<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | Fixed Sidebar</title>

    <th:block layout:fragment="link">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    </th:block>

</head>

<body class="hold-transition sidebar-mini layout-fixed">
<!-- Site wrapper -->
<div class="wrapper">
    <div class="content-wrapper" layout:fragment="content">

        <!-- Content Header (Page header) -->
        <div class="content-header">
            <div class="container-fluid">
                <div class="row mb-2">
                    <div class="col-sm-6">
                        <h1 class="m-0">Dashboard</h1>
                    </div><!-- /.col -->
                    <div class="col-sm-6">
                        <ol class="breadcrumb float-sm-right">
                            <li class="breadcrumb-item"><a th:href="@{/dashboard}">Home</a></li>
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol>
                    </div><!-- /.col -->
                </div><!-- /.row -->
            </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->

        <!-- Main content -->
        <section class="content">
            <div class="container-fluid">
                <!-- Small boxes (Stat box) -->
                <div class="row">
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-info">
                            <div class="inner">
                                <h3>[[${countBrand}]]</h3>

                                <p>Total Medicine</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-medkit"></i>
                            </div>
                            <a th:href="@{/brands}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-success">
                            <div class="inner">
                                <h3>53</h3>

                                <p>Total Customer</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-ios-people"></i>
                            </div>
                            <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-warning">
                            <div class="inner">
                                <h3>[[${countOutOfStock}]]</h3>

                                <p>Out of Stock</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-social-dropbox"></i>
                            </div>
                            <a th:href="@{/stocks/out}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                    <div class="col-lg-3 col-6">
                        <!-- small box -->
                        <div class="small-box bg-danger">
                            <div class="inner">
                                <h3>[[${countExpired}]]</h3>

                                <p>Expired Medicine</p>
                            </div>
                            <div class="icon">
                                <i class="ion ion-clock"></i>
                            </div>
                            <a th:href="@{/stocks/expired}" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                        </div>
                    </div>
                    <!-- ./col -->
                </div>
                <!-- /.row -->
                <!-- Main row -->
                <div class="row">
                    <!-- Left col -->
                    <section class="col-lg-6 connectedSortable">
                        <!-- Custom tabs (Charts with tabs)-->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-chart-pie mr-1"></i>
                                    Financial Statement
                                </h3>
                                <div class="card-tools">
                                    <button type="button" class="btn btn-tool" data-card-widget="collapse">
                                        <i class="fas fa-minus"></i>
                                    </button>
                                    <button type="button" class="btn btn-tool" data-card-widget="remove">
                                        <i class="fas fa-times"></i>
                                    </button>
                                </div>
                            </div><!-- /.card-header -->
                            <div class="card-body">
                                <canvas id="donutChart" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                            </div><!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </section>
                    <!-- /.Left col -->
                    <!-- right col (We are only adding the ID to make the widgets sortable)-->
                    <section class="col-lg-6 connectedSortable">

                        <!-- BAR CHART -->
                        <div class="card">
                            <div class="card-header">
                                <h3 class="card-title">
                                    <i class="fas fa-chart-bar mr-1"></i>
                                    Sales Summary
                                </h3>

                                <div class="card-tools">
                                    <ul class="nav nav-pills ml-auto">
                                        <li class="nav-item">
                                            <a class="nav-link active" href="#max-chart" data-toggle="tab">Highest</a>
                                        </li>
                                        <li class="nav-item">
                                            <a class="nav-link" href="#min-chart" data-toggle="tab">Lowest</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="tab-content p-0">
                                    <!-- Morris chart - Sales -->
                                    <div class="chart tab-pane active" id="max-chart"
                                         style="position: relative; height: 300px;">
                                        <canvas id="maxBarChart" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                                    </div>
                                    <div class="chart tab-pane" id="min-chart" style="position: relative; height: 300px;">
                                        <canvas id="minBarChart" style="min-height: 300px; height: 300px; max-height: 300px; max-width: 100%;"></canvas>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                        </div>
                        <!-- /.card -->

                    </section>
                    <!-- right col -->
                </div>
                <!-- /.row (main row) -->
            </div><!-- /.container-fluid -->
        </section>
        <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
</div>
<!-- ./wrapper -->
<th:block layout:fragment="script">
    <!-- ChartJS -->
    <script src="/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="/plugins/sparklines/sparkline.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- overlayScrollbars -->
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<!--    <script src="/dist/js/pages/dashboard.js"></script>-->
    <script type="text/javascript" th:inline="javascript">

        /*<![CDATA[*/
        $(function () {

            var highest = [[${highestSales}]];
            var maxLabels = [];
            var maxData = [];
            $.each(highest, function( index, value ) {
                maxLabels.push(index);
                maxData.push(value);
            });

            var lowest = [[${lowestSales}]];
            var minLabels = [];
            var minData = [];
            $.each(lowest, function( index, value ) {
                minLabels.push(index);
                minData.push(value);
            });

            var maxAreaChartData = {
                labels  : maxLabels,
                datasets: [
                    {
                        label               : 'Most Sale Medicine',
                        backgroundColor     : 'rgba(60,141,188,0.9)',
                        borderColor         : 'rgba(60,141,188,0.8)',
                        pointRadius         :  false,
                        pointColor          : '#3b8bba',
                        pointStrokeColor    : 'rgba(60,141,188,1)',
                        pointHighlightFill  : '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data                :  maxData
                    }
                ]
            }

            var minAreaChartData = {
                labels  : minLabels,
                datasets: [
                    {
                        label               : 'Least Sale Medicine',
                        backgroundColor     : 'rgba(60,141,188,0.9)',
                        borderColor         : 'rgba(60,141,188,0.8)',
                        pointRadius         :  false,
                        pointColor          : '#3b8bba',
                        pointStrokeColor    : 'rgba(60,141,188,1)',
                        pointHighlightFill  : '#fff',
                        pointHighlightStroke: 'rgba(60,141,188,1)',
                        data                :  minData
                    }
                ]
            }

            //-------------
            //- Max BAR CHART -
            //-------------
            var maxBarChartCanvas = $('#maxBarChart').get(0).getContext('2d')
            var maxBarChartData = $.extend(true, {}, maxAreaChartData)
            var maxTemp0 = maxAreaChartData.datasets[0]
            // var temp1 = areaChartData.datasets[1]
            // maxBarChartData.datasets[0] = temp1
            maxBarChartData.datasets[0] = maxTemp0

            var maxBarChartOptions = {
                responsive              : true,
                maintainAspectRatio     : false,
                datasetFill             : false
            }

            var maxSaleChart = new Chart(maxBarChartCanvas, {
                type: 'bar',
                data: maxBarChartData,
                options: maxBarChartOptions
            })

            //-------------
            //- Max BAR CHART -
            //-------------
            var minBarChartCanvas = $('#minBarChart').get(0).getContext('2d')
            var minBarChartData = $.extend(true, {}, minAreaChartData)
            var minTemp0 = minAreaChartData.datasets[0]
            // var temp1 = areaChartData.datasets[1]
            // maxBarChartData.datasets[0] = temp1
            minBarChartData.datasets[0] = minTemp0

            var minBarChartOptions = {
                responsive              : true,
                maintainAspectRatio     : false,
                datasetFill             : false
            }

            var minSaleChart = new Chart(minBarChartCanvas, {
                type: 'bar',
                data: minBarChartData,
                options: minBarChartOptions
            })

            //-------------
            //- DONUT CHART -
            //-------------
            // Get context with jQuery - using jQuery's .get() method.
            var totalPurchase = Math.floor([[${totalPurchaseAmount}]]);
            var totalSale = Math.floor([[${totalSaleAmount}]]);
            var donutChartCanvas = $('#donutChart').get(0).getContext('2d')
            var donutData        = {
                labels: [
                    'Purchase',
                    'Sale',
                ],
                datasets: [
                    {
                        data: [totalPurchase,totalSale],
                        backgroundColor : ['#f56954', '#00a65a'],
                    }
                ]
            }
            var donutOptions     = {
                maintainAspectRatio : false,
                responsive : true,
            }
            //Create pie or douhnut chart
            // You can switch between pie and douhnut using the method below.
            var financeChart = new Chart(donutChartCanvas, {
                type: 'doughnut',
                data: donutData,
                options: donutOptions
            })
        });
        /*]]>*/
    </script>
</th:block>
</body>
</html>